.search-bar{
    width: 75%;
}

.left-sidebar-card {
    background-color: #efefef
}

.city-name {
    float: left;
}

.today-date {
    float: right;
}

.weather-div {
    margin-top: 50px;
}

.temp {
    margin-top: 40px;
}

.history-btn {
    margin-top: 20px;
}

.weekly-forecast-item {
    background-color: #18a2b8;
    color: #fff;
    padding: 10px;
}

.hide {
    display: none;
}